* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.header {
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}

.header__flex, .footer__flex, .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__li {
    display: inline-block;
}

.nav__li:not(:first-of-type) {
    margin-left: 49px;
}

.nav__link {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}

.nav__link:hover {
    color: #19191B;
    transition: 300ms;
}

.button {
    width: 212px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.button__orange {
    background: #FF7143;
}

.button__orange:hover {
    background: #ff855d;
    transition: 500ms;
}
.about {
    margin: 105px auto 85px;
}

.about__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 468px;
    margin-bottom: 30px;
}

.about__text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;

}

.button__violet {
    background: #5454D4;
}

.button__transparent {
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}

.button__violet:hover {
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    transition: 500ms;
}

.button__transparent:hover {
    background: #5454D4;
    color: #ffffff;
    transition: 500ms;
}

.footer {
    background: rgba(255, 113, 67, 0.27);
    padding: 53px 0;
}